/*** card ***/

.card{
position: relative;
    background: var(--bg-color2);
    border-radius:15px ;
    box-shadow:2px 4px 12px #00000014;
    transition: all .3s cubic-bezier(0,0,.5,1);
overflow: hidden;

}
.card:hover{
    box-shadow: 2px 4px 16px #00000029;
    transform:  scale3d(1.01, 1.01, 1.01);

}

.more{
  content:"?";
  position:absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  height: 20px;
  width: 20px;
  color: var(--text-color);
  font-weight: bold;
  border: 2px solid var(--text-color);
  background: var(--color1);
  z-index:10000;
  cursor:help;
}


.square {
    width: 200px;
    height: 200px;
  }
  
  .rectangle {
    grid-row: span 2;
    width: 200px;
    height: 420px; 
  }
  
  .horizontal-rectangle {
    grid-column: span 2; 
    height: 200px;
    width: 420px;
  }

  figcaption {
    position: absolute;
    left: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: end;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--negative-text-color);
    padding: 15px;
    background-color: var(--dock-color);
    transform: translateX(-100%);
    transition: transform 0.4s;
    z-index: 100;
}



.active {
    transform: translateX(0);
}
@media (max-width: 900px) {
  figcaption{
    font-size: 1rem;
  }
 


}

/*** End Card ***/
/*** Navigation ***/
.dock-icon {
    width: 50px;
    height: 50px;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform-origin: center bottom ;
}

.dock-icon button {
    background: transparent;
    border: none;
    position: relative;
    padding: 0;
    margin: 0;
    width: 90%;
    cursor: pointer;

}
.dock-icon .tooltip {
position: absolute;
top: -20px;
display:  none;
justify-content: center;
align-items: center;
font-family: var(--font-txt);
font-size: 0.6rem;
text-align: center;
padding: 3px 2px 2px;
white-space: nowrap;
background: var(--negative-background);
color: var(--negative-text-color);

}

.dock-icon button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
/*** End Navigation ***/